@charset "utf-8";
/* CSS Document */
body { margin:0 auto; font-size:12px; font-family:Verdana; line-height:1.5;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
img {display:block; border:0px;}
a { color:#05a; text-decoration:none;}
a:hover { color:#f00;}

.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}
/*body*/
#container { width:900px; margin:0 auto;}

/*header*/
#header { height:0px;}
#nav { height:30px; background:#CCFFCC; margin-bottom:8px;}
/*logo*/
#logo { float:left; margin-top:18px;}
/*form*/
#form { float:right; margin-top:18px;}


 
/*main*/
#maincontent { margin-bottom:8px;}
#main { float:left; width:600px; height:500px; background:#FFFF99;}
#side { float:right; width:300px; height:470px; background:#FFFF99;}


 
/*footer*/
#footer { height:70px; background:#CCFFCC;}


#container #form table tr td center {
	font-family: Arial Black, Gadget, sans-serif;
}
